* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%; /* to remove space between footer and bottom */
}
body {
    margin: 0;
    background-color: #F0F0F0;
    font: 14px Verdana, Arial, sans-serif;
    color: #555;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 120%;
    padding: 3% 0;
}
h3 {
    line-height: 110%;
    padding: 3% 0;
}
p {
    padding: 1%;
    font-size: 1rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header {
    background-color: #405580;
    position: fixed;
    width: 100%;
    height: 86px;
    top: 0;
    opacity: 0.93;
    z-index: 2;
}
#logo img {
    height: 60px;
    padding: 13px;
    float: left;
}
header nav ul li {
    float: left;
    padding: 32px 10px;
    font-size: 1.1rem;
}
header nav ul li a {
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.5s;
}
header nav ul li a:hover, header nav ul li a.active {
    border-bottom: 4px solid white;
}
#menu-icon {
    float: right;
    font-size: 2rem;
    padding: 21px 15px;
    display: none;
}
#menu-icon:hover {
    background-color: #2e3c59;
}
img {
    max-width: 100%;
}
#main {
    margin-top: 86px;
    text-align: center;
}
#content {
    margin: auto;
    max-width: 1140px;
}
.blueberry {
    max-width: 960px;
}
section {
    text-align: center;
    width: 33.33%;
    float: left;
    padding: 2%;
    box-sizing: border-box;
}
section p {
    text-align: justify;
    text-indent: 50px;
}
.clearfix {
    clear: both;
}
div.left-col {
    float: left;
    width: 50%;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}
aside.right-col {
    float: right;
    width: 50%;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}
aside.right-col h2 {
    text-decoration: underline;
    margin-bottom: 8%;
}
footer {
    background-color: #444;
    color: white;
    overflow: hidden;
}
section#contact address {
    margin-top: 10px;
}
section ul.social {
    margin-top: 10px;
}
ul.social li {
    display: inline;
    padding: 2%;
}
ul.social li a img {
    width: 50px;
}
section#lifter img {
    height: 100px;
    margin-top: 5px;
}
footer.second-footer {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 5px;
}
/* Fix for bookmarks because of the fixed navbar */
section, footer {
    position: relative;
}
span#facility, span#contact {
    position: absolute;
    top: -86px; /* height of fixed navbar */
}
.sidenav {
    display: block;
    position: absolute;
    top: 86px;
    right: 0;
    width: 50%;
    background-color: #2e3c59;
}
/* Media queries */
@media screen and (max-width: 900px) {
    ul.social li {
        padding: 1%;
    }
    ul.social li a img {
        width: 40px;
    }
}
@media screen and (max-width: 830px) {
    header nav ul {
        display: none;
    }
    #menu-icon {
        display: block;
    }
    section, div.left-col, aside.right-col {
        width: 100%;
    }
    aside.right-col h2 {
        margin-bottom: 4%;
    }
}
